/* ----------------------HOME PAGE-------------------------- */

.mt-5 {
    margin-top: 5px;
}

.container-menu {
    flex: 1;
    display: flex;
    overflow-y: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    margin-right: 0.5rem;
    width: 70%;
}

.left .top,
.left .bottom,
.right {
    border: 2px solid #ECEFF1;
    border-radius: 4px;
}

.left .top {
    flex: 1;
    margin-bottom: 0.5rem;
    padding: 1rem;
}


.left .bottom {
    height: 40%;
    overflow: hidden;
    position: relative;
}

.section-container .data-container {
    text-align: left;
    height: auto;
    width: 100%;
}


.right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
    width: 20%;
    padding-top: 5px;
}

.right .title {
    text-align: center;
    width: 100%;
}

.right h3 {
    margin-left: 20px;
}

.right .input {
    height: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 70%;
    border: 2px solid #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-left: 20%;
}


.h3 {
    margin-right: auto;
}



/* LINE SECTION */
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* Membuat 6 kolom */
    grid-template-rows: 0.25fr 0.25fr 0.05fr 0.30fr 0.30fr 0.30fr;
    /* Membuat 6 baris */
    gap: 0;
    /* Tidak ada jarak antar sel */
}

.cell {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-data {
    /* height: fit-content; */
    min-width: 287px;
    display: flex;
    align-items: center;
    border: 1px solid #29B6F6;
    border-radius: 4px;
    padding: 2px 8px;
}

.cell-data .img-container {
    height: fit-content;
    width: 150px;
}

.cell-data .img-container img {
    object-fit: cover;
}


.cell-data .data-value {
    width: 120px;
    border: 1px solid #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.cell-data .data-title {
    font-size: 14px;
}

.cell-data .data-container {
    text-align: left;
}



/* Aturan posisi setiap elemen */
/* 1x1 dan 2x1 */
.cell-1-1-2-1 {
    grid-column: 1;
    grid-row: 1 / 3;
    border: 1px solid #29B6f6;
    border-radius: 4px;
}

/* 1x2 dan 1x3 */
.cell-1-2-1-3 {
    grid-column: 2 / 4;
    grid-row: 1;
    border-bottom: 2px solid black;
}

/* 1x5 */
.cell-1-5 {
    grid-column: 5;
    grid-row: 1;
    border-bottom: 2px solid black;
}

/* 4x3 */
.cell-4-3 {
    grid-column: 3;
    grid-row: 4;
    border-bottom: 2px solid black;
}

/* 2x2, 3x2, dan 4x2 */
.cell-2-2-3-2-4-2 {
    grid-column: 2;
    grid-row: 2 / 5;
    border-right: 2px solid black;
}

/* 1x4 dan 2x4 */
.cell-1-4-2-4 {
    grid-column: 4;
    grid-row: 1 / 3;
    border: 1px solid #29B6f6;
    border-radius: 4px;
}

/* 1x6 dan 2x6 */
.cell-1-6-2-6 {
    grid-column: 6;
    grid-row: 1 / 3;
    border: 1px solid #29B6f6;
    border-radius: 4px;
}

/* 4x1, 5x1, dan 6x1 */
.cell-4-1-5-1-6-1 {
    grid-column: 1 / 2;
    /* Dari kolom 1 ke kolom 2 */
    grid-row: 4 / 7;
    /* Dari baris 4 ke baris 7 */
    border: 1px solid #29B6f6;
    border-radius: 4px;
}

/* 4x4 dan 5x4 */
.cell-4-4-5-4 {
    grid-column: 4;
    grid-row: 4 / 6;
    border: 1px solid #29B6f6;
    border-radius: 4px;
}

/* 4x4 dan 5x4 */
.cell-4-6-5-6 {
    grid-column: 6;
    grid-row: 4 / 6;
    border: 1px solid #29B6f6;
    border-radius: 4px;
}

#current-date {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    /* Change to white for better contrast */
    z-index: 100;
    padding: 10px;
    /* Add padding for spacing */
    background-color: #ECEFF1;
    /* Semi-transparent black background */
    border-radius: 5px;
    /* Rounded corners */
}

@media (max-height: 750px) {

    .cell-data {
        padding: 18px;
    }

    .cell-data .img-container img {
        height: 70px;
        width: 70px;
    }

    .cell-1-1-2-1 img {
        height: 70px !important;
        width: 70px !important;
    }

    h3 {
        font-size: 14px !important;
    }

    .right .input {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .current_date {
        font-size: 12px !important;
    }
}