/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .icon-left,
header .icon-right {
    display: flex;
    align-items: center;
}

header .icon-left img,
header .icon-right img {
    height: 62px;
    width: auto;
}

header nav {
    width: 50%;
    height: 80px;
    background-color: #ECEFF1;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul .active {
    color: #0093DD;
}


header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    font-size: 24px;
    font-weight: 600;
    color: #424242;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}

header nav ul li a:hover {
    background: #0093dd23;
    color: #0093DD;
    border-radius: 5px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    padding: 10px 20px;
    left: 15px;
    /* Margin from the left */
    right: 15px;
    /* Margin from the right */
    height: 40px;

    border: 2px solid #ECEFF1;
    border-radius: 4px;

    font-size: 14px;
    font-weight: medium;
}


/* Main Content */
main {
    flex: 1;
    display: flex;
    overflow: hidden;
    /* padding-bottom: 15px; */
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 768px) {

    header,
    footer {
        text-align: left;
        padding: 15px;
    }

    .content {
        padding: 10px;
    }
}